<html>
    <head>
        <title>{{ title }}</title>
        <link href="{{ STATIC_URL }}novel/css/edit.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}novel/js/edit.js"></script>
    </head>
    <body>
        <div class="title">
            {{ title }}
        </div>
        <div id="tweets" class="content">
            {% for tweet in tweets %}
                {% if tweet.published %}
                <div
                     id="tweet{{ tweet.id }}"
                     
                     class="tweet published"
                >
                    <span class="publishedtext">{{ tweet.text }}<span>
                    
                </div>
                {% else %}
                <div
                     id="tweet{{ tweet.id }}"
                     originaltext="{{ tweet.text }}"
                     class="tweet unpublished"
                >
                    <div class="tweet_text">{{ tweet.text }}</div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div id="editor" class="content">
            
            <form action="/edit/submit/" method="post">
                {% csrf_token %}
                
                <textarea id="newcontent" name="newcontent"></textarea>
                <input type="submit" value="Save"/>
            </form>
            
            <div id="inlineeditbox">
                <input id="inlineeditinput" name="newValue"/>
            </div>
        </div>
        
        <div id="tweetpopup" onclick="event.stopPropagation()">
            <a href="#" onclick="deleteTweet(event, this)" title="Delete Tweet">D</a>
            <a href="#" onclick="insertTweet(event, this)" title="Insert new tweet above">I</a>
            <a href="#" onclick="publishTweet(event, this)" title="Publish Tweet now">P</a>
        </div>
        
    </body>
</html>
