<html>
	<head>
		<title>{% block title %}{{ title }} - A Twitter Novel{% endblock %}</title>
        <link href="{{ STATIC_URL }}novel/css/home.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="{{ STATIC_URL }}novel/js/home.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.js"></script>
	</head>
	<body background="{{ MEDIA_URL }}background.jpg" onload="onLoad({% if page == lastpage%}true{%else%}false{%endif%})">
		<div class="title">
			<h1>
				{% block contenttitle %}{{ title }}{% endblock %}
			</h1>
		</div>
		<div class="content">
            {% block content %}{% endblock %}
		</div>
		<div class="footer">
            {% block footer %}{% endblock %}
        </div>
    </body>
</html>
