<html>
	<head>
		<title>{{ title }} - A Twitter Novel</title>
	</head>
	<body background="{{ MEDIA_URL }}background.jpg">
		<div style="height: 5%">&nbsp;</div>
		<div style="background: rgba(255,255,255,0.5); color: black; padding: 15px; margin-left: 10%; margin-right: 10%;">
			<h1 align="center">
				{{ title }}
			</h1>
		</div>
		<div style="height: 5%">&nbsp;</div>
		<div style="background: rgba(255,255,255,0.7); color: black; padding: 15px; margin-left: 10%; margin-right: 10%;">
		{% if lines %}
			<ul>
			{% for line in lines %}
				<li>{{ line.text }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<h1 align="center">
				Coming soon...
			</h1>
		{% endif %}
		</div>
	</body>
</html>
