{% extends "base.html" %}

{% block header %}
	<link rel="alternate" title="Twovel RSS" href="/feed/" type="application/rss+xml">
{% endblock%}

{% block content %}
		{% if lines %}
			<ul>
			{% for line in lines %}
				<li id="tweet{{line.id}}">
				{% if highlight %}
					{% if highlight == line.id %}
						<b>{{ line.text }}</b>
					{% else %}
						{{ line.text }}
					{% endif%}
				{% else %}
					{% if  forloop.last and page == lastpage %}
						<b>{{ line.text }}</b>
					{% else %}
						{{ line.text }}
					{% endif%}
				{% endif %}
				</li>
			{% endfor %}
			</ul>
		{% else %}
			<h1 align="center">
				Coming soon...
			</h1>
		{% endif %}
	
{% endblock %}

{% block footer %}
			<table id="navtable">
				<tr>
					<td>
			{% if page > 1 %}
				<a href="/?page=1"><img src="{{ STATIC_URL }}novel/img/first.png"/></a>
					</td>
					<td>
				<a href="/?page={{page|add:-1}}"><img src="{{ STATIC_URL }}novel/img/prev.png"/></a>
			{% else %}
				<img src="{{ STATIC_URL }}novel/img/first-disabled.png"/>
					</td>
					<td>
				<img src="{{ STATIC_URL }}novel/img/prev-disabled.png"/>
			{% endif %}
					</td>
					<td>
			Page {{ page }}
					</td>
					<td>
			{% if page != lastpage %}
				<a href="/?page={{page|add:1}}"><img src="{{ STATIC_URL }}novel/img/next.png"/></a>
					</td>
					<td>
				<a href="/?page={{lastpage}}"><img src="{{ STATIC_URL }}novel/img/last.png"/></a>
			{% else %}
				<img src="{{ STATIC_URL }}novel/img/next-disabled.png"/>
					</td>
					<td>
				<img src="{{ STATIC_URL }}novel/img/last-disabled.png"/>
			{% endif %}
					</td>
				</tr>
			</table>
{% endblock %}	

